<!-- add student -->
<div class="col-md-3 verticalLine" ng-controller="addPostController">
  <h2>Add New Post</h2>
  <br>
  <form class="form" ng-submit="addPost()">
   <fieldset class="form-group">
                   <input ng-model="post.name" type="text" class="form-control" placeholder="Place Name" title="name" />
                </fieldset>
                 <fieldset class="form-group">
                  <input ng-model="post.image" type="text" class="form-control" placeholder="Type Image URL, i.e. try http://placehold.it/350x150" title='image' />
                </fieldset>
                <fieldset class="form-group">
                  <input ng-model="post.vote" type="number" class="form-control" placeholder=" Vote Range Between 1-20" title='vote' />
                </fieldset>
                <fieldset class="form-group">
                  <input ng-model="post.description" type="text" class="form-control" placeholder="Please type description" title='description' />
                </fieldset>
                <fieldset class="form-group">
                  <input ng-model="post.author" type="text" class="form-control" placeholder="Author" title="text" />
                </fieldset>
                <fieldset class="form-group">
                  <input type="submit" class="btn btn-primary pull-right" value="Submit Review" />
                </fieldset>
              </form>
            </div>
<!-- all students -->
<div class="col-md-7" ng-controller="allPostController">
  <h2>All Posts</h2>
  <br>
  <div class="media" ng-controller="editPostController" ng-repeat="post in allPosts | filter:search">
      <div class="media-left media-middle">
        <a href="#">
          <img class="media-object" ng-src="{{post.image}}" alt="..." width="200 rem">
        </a>

      </div>
      <div class="media-body">
        <h4 class="media-heading">{{post.name}} 
        <a href="#" ng-click="post.vote = post.vote + 1" <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span></a>
        <a href="#" ng-click="post.vote = post.vote - 1" <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span></a>
        {{post.vote}}
        <cite class="clearfix right">By {{post.author}}</cite>
        <p>{{post.description}}

        {{post.comments}}

        </h4>
  
</div>
</div>